<div id="User4Div">
    <div *ngIf="output">
        <p>Results and stadiums played at for {{ theTeam4.name }} so far:</p>
        <div *ngFor='let in of output; let x = index'>

            {{ output[x] }}

          <div>
    </div>
</div>
