<div id="User2Div">
    <div *ngIf="output">
        <p>Results for {{ theTeam2.name }} so far:</p>
        <div *ngFor='let in of output; let x = index'>

            {{ output[x] }}

          <div>
    </div>
</div>
