<div id="TeamSelectDiv">
  <div class="container-fluid">
    <app-user-select [team]="selectedTeam"></app-user-select>
    <h5 class="display-5">Select a team:</h5>
    <h6 class="display-6">You will then be given options for statistics:</h6>
    <div class="row">
      <div class="card-deck">
        <div class="col=sm-2" *ngFor="let team of teams">
          <div class="card border-primary mb-3" style="width: 10rem;">
            <img class="card-img-top" src="https://squiggle.com.au/{{ team.logo }}" alt="{{team.name}}">
            <div class="card-body">
              <h6 class="card-title">{{team.name}}</h6>
              <p class="card-text"></p>
              <button (click)="onSelect(team)" class="btn btn-primary">Select Team</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
