<div id="User7Div">
  <h2>AFL Ladder</h2>
    <div *ngIf="output">
      <table class="table">
        <thead>
          <tr>
            <th scope="row">Club</th>
            <th scope="row">ID</th>
            <th scope="row">Win</th>
            <th scope="row">Lose</th>
            <th scope="row">Draw</th>
            <th scope="row">Points</th>
            <th scope="row">Goals</th>
            <th scope="row">Behinds</th>
            <th scope="row">Score</th>
            <th scope="row">Against</th>
            <th scope="row">%</th>
          </tr>
        </thead>
        <tbody>
          <tr  scope="row" *ngFor='let in of output; let x = index'>

            <td>{{ output[x].name }}</td>
            <td>{{ output[x].id }}</td>
            <td>{{ output[x].win }}</td>
            <td>{{ output[x].lose }}</td>
            <td>{{ output[x].draw }}</td>
            <td>{{ output[x].ladderP }}</td>
            <td>{{ output[x].goal }}</td>
            <td>{{ output[x].point }}</td>
            <td>{{ output[x].score}}</td>
            <td>{{ output[x].scoreA }}</td>
            <td>{{ output[x].percent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
