<div id="User1Div">
  <div *ngIf="output">
    <p>For {{ theTeam1.name }}, the tips are as follows: </p>
    <div *ngFor='let in of output; let x = index'>

      {{ output[x] }}

    <div>
  </div>
</div>




