<div id="User6Div">
  <h2>Scores for round: {{ lastRound }}</h2>
  <div *ngIf="sortedOutput">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let in of sortedOutput; let x = index">
          <td>{{ sortedOutput[x].theTeam}}</td>
          <td>{{ sortedOutput[x].score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
