.nav-item::after{
  content:'';
  display:block;
  width:0px;
  height:4px;
  background:rgb(0, 183, 255);
  transition: 0.2s;
  margin-top:-10px;
}

.nav-item:hover::after{width:100%;}


.nav-link{padding:15px 5px;transition:0.2s;}

.navbar-nav .nav-link {

  color:#000;
  font-weight:bold;
  font-size:18px;
}

.navbar-nav .active > .nav-link{

  width:100%;
  height:51px;

border-bottom: .25rem solid transparent;
border-bottom-color: rgb(0, 183, 255);

}
