<!-- <nav>
  <a routerLink="/teamSelect" routerLinkActive="active">HOME</a>
  <a routerLink="/user6" routerLinkActive="active">LAST ROUND</a>
  <a routerLink="/user7" routerLinkActive="active">LADDER</a>
</nav> -->


<nav class="navbar navbar-expand-lg">

  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/teamSelect" routerLinkActive="active" class="nav-link">TEAM</a>
      </li>
      <li class="nav-item">
          <a routerLink="/user6" routerLinkActive="active" class="nav-link">LAST ROUND</a>
      </li>

      <li class="nav-item">
          <a routerLink="/user7" routerLinkActive="active" class="nav-link">LADDER</a>
      </li>
  </ul>
</nav>






<router-outlet></router-outlet>
