<div id="User3Div">
    <div *ngIf="output">
        <p>The next 5 games for {{ theTeam3.name }} are:</p>
        {{ output[0] }} <br>
        {{ output[1] }} <br>
        {{ output[2] }} <br>
        {{ output[3] }} <br>
        {{ output[4] }} <br>
    </div>
    <p>Note: Some round data missing before round is played</p>
</div>
