<div id="User8Div">
    <div *ngIf="output">
        <p>Home games this season for {{ theTeam8.name }}:</p>
        <div *ngFor='let in of output; let x = index'>

            {{ output[x] }}

          <div>
    </div>
</div>
