<div id="UserSelectDiv">
  <div *ngIf="team">
    <h5 class="display-5">Selected team: {{ team.name }} </h5>

      <div class="btn-group" role="group" aria-label="site-functions">
        <button type="button" class="btn btn-primary" routerLink="/user1">Predictions</button>
        <button type="button" class="btn btn-primary" routerLink="/user2">Results so far</button>
        <button type="button" class="btn btn-primary" routerLink="/user3">Next five</button>
        <button type="button" class="btn btn-primary" routerLink="/user4">Stadium results</button>
        <button type="button" class="btn btn-primary" routerLink="/user5">Rivals</button>
        <button type="button" class="btn btn-primary" routerLink="/user8">Home games</button>
      </div>

  </div>
</div>
