<div id="User5Div">
  <h4>Pick a rival team: </h4>
    <ul>
        <button type="button" class="btn btn-primary" *ngFor="let team of theTeams" (click)="onClick(team)">{{team.name}}</button>
     </ul>
    <br>
  <div *ngIf="output">
      <div *ngFor='let in of output; let x = index'>
          {{ output[x] }}
          <br>
        <div>
      <div>
  </div>
</div>
